<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/thongKe.css">
    <script type="text/javascript" src="/buttonXemChiTiet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/thongKe.js"></script>
</head>
<body>
    <div id="left_right">
        <div id="left">
            <div id="btHome">
                <img class="img" src="img/home.png" alt="loianh">
                <p>Trang Chủ</p>
                {{!-- <p id="btHome">Trang Chủ</p> --}}
            </div>
            <div id="btThemDiaDiem">
                <img class="img" src="img/them.png" alt="loianh">
                <p>Thêm Địa Điểm</p>
            </div>
            
            {{!-- <input style="margin: 5px;" type="button" value="Thêm Địa Điểm" id="btThemDiaDiem" /> --}}
            <div id="btThongKe"><img class="img" src="img/thongKe.png" alt="loianh">
                <p>Thống Kê</p>
            </div>
        </div>

        <div id="right">
            <button id="xemTKCu">
                Xem Lịch Sử
                <br>
                Thống Kê
            </button>
            <div id="TKCu">
                <p>Lịch Sử Thổng Kê</p>
                {{!-- <ul id="ulTKCu">
                </ul> --}}
                <table id="tableTKCu">
                    <tr>
                        <th>Tên Cửa Hàng</th>
                        <th>Tên Hàng Hoá</th>
                        <th>Từ Ngày</th>
                        <th>Đến Ngày</th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div id="loiTK">
                <button id="buttonLoiTK">X</button>
                <br>
                <p>Thông tin đang tìm kiếm hiện không có</p>
            </div> 
            <form action="" method="post">
                {{!-- <input type="text" name="maCH" id="maCH" value=""> --}}
                <p>Tên Cửa Hàng</p>
                <select name="tenCH" id="tenCH">
                    <option value="%">Tất Cả Cửa Hàng</option>
                    {{#if arrCH}}
                        {{#each arrCH}}
                            <option value="{{this.tenCH}}">{{this.tenCH}}</option>
                        {{/each}}
                    {{/if}}
                </select>
                {{!-- <input type="text" name="maHH" value="" hidden> --}}
                <p>Tên Hàng Hoá</p>
                <select name="tenHH" id="tenHH">
                    <option value="%">Tất Cả Hàng Hoá</option>
                    {{#if arrHH}}
                        {{#each arrHH}}
                            <option value="{{this.tenHH}}">{{this.tenHH}}</option>
                        {{/each}}
                    {{/if}}
                </select>

                <p>Từ Ngày</p>
                <input type="date" id="tuNgay" name="tuNgay" value="">

                <p>Đến Ngày</p>
                <input type="date" id="denNgay" name="denNgay" value="">
                <input type="submit" value="Thống Kê">
            </form>
            <div id="ketQuaTimKiem" class="KQTimKiem">
                {{!-- <span>Số lượng: </span>
                <span id="soLanBan">{{soLuong}}</span> --}}
                <button id="DongKQTimKiem">X</button>
                <div>
                    {{!-- <button id="xemChiTiet">Xem chi tiết</button> --}}
                    <div id="thongTinXemChiTiet">
                        <div style="width: 100%;">
                            <span style="float: left;" class="spanThongTin" id="tenCuaHangSpan">  </span>
                            <span style="float: right;" class="spanThongTin" id="tuNgaySpan">  </span>
                            <span style="float: left;" class="spanThongTin" id="tenHangHoaSpan">  </span>
                            <span style="float: right; margin-right: 38px;" class="spanThongTin" id="denNgaySpan">  </span>
                        </div>

                        <div style="width: 100%;">
                            <div style="float: left; margin-left: 130px" id="thongKeLuotBanDiv">
                                <canvas id="thongKeLuotBan" max-width="400" max-height="400"></canvas>
                            </div>
                            <div style="float: right; margin-right: 140px" id="thongKeDanhThuDiv">
                                <canvas id="thongKeDanhThu" max-width="400" max-height="400"></canvas>
                            </div>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br>
                        <div class="table-container">
                            <table id="tableTK">
                                <script>
                                    clearTable()
                                    setupTable()
                                </script>
                                {{#each thongKe}}
                                    <script>
                                        date = new Date("{{this.ngay}}");
                                        updateTable("{{this.maHD}}","{{this.tenCH}}", "{{this.tenHH}}" ,date.toLocaleDateString('en-GB'),"{{this.soLuong}} {{this.dvt}}",Intl.NumberFormat('en-US').format({{this.giaTien}}),"{{this.img}}")
                                    </script>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function(){
        const tenCH = getParameterByName('tenCH');
        if(tenCH != null)
            $("#tenCH").val(tenCH);

        {{#if loiTK}}
            $("#tenCH").val("{{tenCH}}");
            $("#tenHH").val("{{tenHH}}");
            $("#tuNgay").val("{{tuNgay}}");
            $("#denNgay").val("{{denNgay}}");

            $("#loiTK").show(1000)
            setTimeout(function(){
                $("#loiTK").hide(500)
            },3000)
        {{/if}}

        {{#if arrTK}}
            let i =0;
            var $li;
            var $button
            {{#each arrTK}}
                $button = $('<button></button>').text("Xem chi tiết").attr('id','TK-'+i).addClass('btn')
                if("{{this.tenCH}}" == "%")
                    $tdTenCH = $('<td></td>').text("Tất cả")
                else
                    $tdTenCH = $('<td></td>').text("{{this.tenCH}}")
                

                if("{{this.tenHH}}" == "%")
                    $tdTenHH = $('<td></td>').text("Tất cả")
                else
                    $tdTenHH = $('<td></td>').text("{{this.tenHH}}")
                

                $tr = $('<tr></tr>').append(
                    $tdTenCH,
                    $tdTenHH,
                    $('<td></td>').text("{{this.tuNgay}}"),
                    $('<td></td>').text("{{this.denNgay}}"),
                    $('<td></td>').append($button)
                )
                $("#tableTKCu").append($tr);
                $button.click(function(){
                    
                    if("{{this.tenCH}}" == "%"){
                        tenHHTK = [];
                        danhThuHHTK =[];
                        soLuong = [];
                        arr = true;
                        $("#tenCuaHangSpan").html(" Tên Cửa Hàng: Tất cả của hàng");
                    }
                    else{
                        tenHHTK = "{{tenHH}}";
                        danhThuHHTK = 0;
                        soLuong = {{soLuong}}
                        arr = false;
                        $("#tenCuaHangSpan").html(" Tên Cửa Hàng: {{this.tenCH}}");
                    }


                    if("{{this.tenHH}}" == "%")
                        $("#tenHangHoaSpan").html("Tên Hàng Hoá: Tất cả hàng hoá");
                    else
                        $("#tenHangHoaSpan").html("Tên Hàng Hoá: {{this.tenHH}}");

                    $("#tuNgaySpan").html("Từ Ngày: {{this.tuNgay}}");

                    $("#denNgaySpan").html("Đến Ngày: {{this.denNgay}}");

                    tongSoLuong = {{this.tongSoLuong}};
                    tongDanhThu = {{this.tongDanhThu}};


                    {{#each thongKe }}
                        if(arr){
                            const index = tenHHTK.findIndex(item => item === "{{this.tenHH}}"); // Sửa cách sử dụng findIndex
                            if(index !== -1){ // Kiểm tra nếu tìm thấy
                                danhThuHHTK[index] += parseInt("{{this.giaTien}}"); // Chuyển đổi từ string sang int
                                soLuong[index] += parseInt("{{this.soLuong}}");
                            }
                            else{
                                tenHHTK.push("{{this.tenHH}}");
                                danhThuHHTK.push(parseInt("{{this.giaTien}}")); // Chuyển đổi từ string sang int
                                soLuong.push(parseInt("{{this.soLuong}}"));
                            }
                        }
                        else{
                            danhThuHHTK += parseInt("{{this.giaTien}}"); // Chuyển đổi từ string sang int
                        }
                    {{/each}}
                    $("#ketQuaTimKiem").show(1000,function(){
                        showThongKe(tenHHTK,soLuong,tongSoLuong,danhThuHHTK,tongDanhThu)
                            
                        clearTable()
                        setupTable()
                        
                        {{#each thongKe}}
                            date = new Date("{{this.ngay}}");
                            updateTable("{{this.maHD}}","{{this.tenCH}}", "{{this.tenHH}}" ,date.toLocaleDateString('en-GB'),"{{this.soLuong}} {{this.dvt}}",Intl.NumberFormat('en-US').format({{this.giaTien}}),"{{this.img}}")
                        {{/each}}
                    })
                    {{!-- $("#ketQuaTimKiem").show(1000) --}}
                    $("#xemTKCu").hide(1000)
                    $("#TKCu").css("margin-right","-800px")
                })
            {{/each}}
        {{/if}}

        {{#if thongKe}}
            $("#tenCH").val("{{tenCH}}");
            if("{{tenCH}}" == "%")
                $("#tenCuaHangSpan").html(" Tên Cửa Hàng: Tất cả của hàng");
            else
                $("#tenCuaHangSpan").html(" Tên Cửa Hàng: {{tenCH}}");
            $("#tenHH").val("{{tenHH}}");
            if("{{tenHH}}" == "%")
                $("#tenHangHoaSpan").html("Tên Hàng Hoá: Tất cả hàng hoá");
            else
                $("#tenHangHoaSpan").html("Tên Hàng Hoá: {{tenHH}}");
            $("#tuNgay").val("{{tuNgay}}");
            $("#tuNgaySpan").html("Từ Ngày: {{tuNgay}}");
            $("#denNgay").val("{{denNgay}}");
            $("#denNgaySpan").html("Đến Ngày: {{denNgay}}");
            if("{{tenHH}}" == "%"){
                tenHHTK = [];
                danhThuHHTK =[];
                soLuong = [];
                arr = true;
            }
            else {
                tenHHTK = "{{tenHH}}";
                danhThuHHTK = 0;
                soLuong = {{soLuong}}
                arr = false;
            }
            tongSoLuong = {{tongSoLuong}}
            tongDanhThu = {{tongDanhThu}}
            
            {{#each thongKe}}
                if(arr){
                    const index = tenHHTK.findIndex(item => item === "{{this.tenHH}}"); // Sửa cách sử dụng findIndex
                    if(index !== -1){ // Kiểm tra nếu tìm thấy
                        danhThuHHTK[index] += parseInt("{{this.giaTien}}"); // Chuyển đổi từ string sang int
                        soLuong[index] += parseInt("{{this.soLuong}}");
                    }
                    else{
                        tenHHTK.push("{{this.tenHH}}");
                        danhThuHHTK.push(parseInt("{{this.giaTien}}")); // Chuyển đổi từ string sang int
                        soLuong.push(parseInt("{{this.soLuong}}"));
                    }
                }
                else{
                    danhThuHHTK += parseInt("{{this.giaTien}}"); // Chuyển đổi từ string sang int
                }
            {{/each}}
            showThongKe(tenHHTK,soLuong,tongSoLuong,danhThuHHTK,tongDanhThu)
        {{else}}    
            {{#if arrTK}}
                $("#xemTKCu").show()
            {{/if}}
        {{/if}} 
    })
</script>
